.row {
  display: flex;
}

.cell {
  width: 150px;
  height: 100px;
  margin: 5px;
  padding: 5px;
  display: grid;
  place-items: center;
}

.cell.sum {
  background-color: #f0f0f0;
}

.cell.sum.scaled {
  font-size: 1.1rem;
  font-weight: bold;
}
